html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

#game-deck, .deck-css {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Styles for the Congratulations Modal Popup Window */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #092842;
    color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 #2e3d49,0 6px 20px 0 #2e3d49;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    animation-name: animatetop;
    animation-duration: 0.4s    
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #ff8b07;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    background-color: #1795e9;
    color: #000;
    width: 100%;
}

#main-heading {
    font-size: 60px;
    text-align: center;
}

.span {
    text-align: center;
    font-size: 20px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.restart {
    cursor: pointer;
}

.num-color {
    color: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#timer {
    float: right;
}

/*
 * Styles for the deck of cards
 */

.deck {   
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #0afce8 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    max-width: 100%;
    max-height: 100%;    
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.false {
    cursor: default;
    background: #f30101;
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #0ee79f;
    font-size: 33px;
}

/* Responsive Styles Below */

@media screen and (min-width: 520px) and (max-width: 700px) {
    .modal-content {
    width: 80%;
    font-size: 15px;      
}
    
    .align-center {
        font-size: 20px;
        text-align: center;
    }
    
    .score-panel {
        width: 100%;
    }
    
    .modal-content {
        font-size: 20px;
    }

    .deck .card.show {
        font-size: 24.75px;
    }

    .deck .card.false {
    cursor: default;
    background: #f30101;
    font-size: 24.75px;
    }

    .deck .card.match {
        cursor: default;
        font-size: 24.75px;
        color: #ffffff;
    }

    .deck .card {    
        height: 93.75px;
        width: 93.75px;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3.75px 1.5px 15px 0 rgba(46, 61, 73, 0.5);
    }


    .deck {   
        width: 495px;
        min-height: 510px;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 234x;
        border-radius: 7.5px;
        box-shadow: 9px 11.25px 15px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 2.25em;
    }
}

@media screen and (min-width: 384px) and (max-width: 519px) {
    .modal-content {
        width: 80%;
        font-size: 14px;       
    }
    
    .align-center {
        font-size: 20px;
        text-align: center;
    }

    #main-heading {
        font-size: 50px;
        padding-bottom: 20px;
    }
    
    .score-panel {
        width: 80%;
    }
    
    .modal-content {
        font-size: 27px;
    }

    .deck .card.show {
        font-size: 22px;
    }

    .deck .card.false {
        cursor: default;
        background: #f30101;
        font-size: 22px;
    }
    
    .deck .card.match {
        cursor: default;
        font-size: 22px;
    }

    .deck .card {    
        height: 68.5px;
        width: 68.5px;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 4.4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2.2px 1.1px 11px 0 rgba(46, 61, 73, 0.5);
    }


    .deck {   
        width: 363px;
        min-height: 374px;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 17.6px;
        border-radius: 5.5px;
        box-shadow: 6.6px 7.7px 11px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1.65em;
    }
}

@media screen and (max-width: 383px) {
    
    .modal-content {
        width: 80%;
        font-size: 15px;       
    }
    
    .span {
        font-size: 18px;
    }
    
    .score-panel {
        width: 90%;
    }
    
    .modal-content {
        font-size: 16px;
        font-weight: 150;
    }
        
    .align-center {
        font-size: 20px;
        text-align: center;
    }

    #main-heading {
        font-size: 40px;
        padding-bottom: 60px;
    }
        
    .deck .card.show {
        font-size: 15px;
    }

    .deck .card.false {
        cursor: default;
        background: #f30101;
        font-size: 15px;
    }

    .deck .card.match {
        cursor: default;
        font-size: 15px;
    }

    .deck .card {    
        height: 46.5px;
        width: 46.5px;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1.5px .75px 7.5px 0 rgba(46, 61, 73, 0.5);
    }

    .deck {   
        width: 247px;
        min-height: 255px;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 12px;
        border-radius: 3.75px;
        box-shadow: 4.5px 5.25px 7.5px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1.2em;
    }
}

@media screen and (min-width: 880px) {
    .modal-content {
    width: 80%;
    font-size: 15px;      
    }
    
    .score-panel {
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width: 763px) and (max-width: 1024px) {
    #main-heading {
        font-size: 80px;
        padding-bottom: 50px;
    }
    
    .span {
        font-size: 35px;
    }    
    .score-panel {
        width: 80%;
        margin: auto;
    }
    .modal-content {
    width: 80%;
    font-size: 35px;      
    }
}

@media screen and (max-height: 380px) and (max-width: 670px) {
    .modal-content {
        width: 80%;      
    }
    
    .score-panel {
        width: 50%;
        margin: auto;
    }
    #main-heading {
        font-size: 25px;
    }
        
    .deck .card.show {
        font-size: 15px;
    }

    .deck .card.false {
        cursor: default;
        background: #f30101;
        font-size: 15px;
    }

    .deck .card.match {
        cursor: default;
        font-size: 15px;
    }

    .deck .card {    
        height: 46.5px;
        width: 46.5px;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1.5px .75px 7.5px 0 rgba(46, 61, 73, 0.5);
    }

    .deck {   
        width: 247px;
        min-height: 255px;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 12px;
        border-radius: 3.75px;
        box-shadow: 4.5px 5.25px 7.5px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1.2em;
    }
    .span {
        font-size: 15px;
    }
}
